.MainSlide {
  width: 98%;
  height: 90vh;
  position: relative;
  margin: auto;
  border-radius: 40px;
  margin-bottom: 60px;
  box-shadow: 0 0 10px 1px;
  padding-bottom: 20px;
  background-image: url(../../../img/FundoSlideFoto.svg);
  background-position: center;
  background-repeat:  no-repeat;
}

.MainSlide h1 {
  padding-top: 20px;
  padding-bottom: 5px;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  color: #fff;
  border-bottom: solid 1px #fff;
  
 
  width: 40%;
  margin: auto;
  font-size: 27px;
}
.slideItem {
  margin-top: 20px;
  width: 90%;
  height: 400px;
  transition: 1s;
  align-items: center;
}
.slideItem:hover {
  transform: scale(1.2);
}
.Slide {
  height: 420px;
  margin: auto;
  text-align: center;
}
.BoxButton {
  width: 100%;
  height: auto;
  text-align: center;
}
.BoxButton button {
  padding: 20px 20px;
  font-size: 20px;
  background-color: #ffe500;
  border-radius: 10px;
  border: none;
  margin: auto;
  width: 20%;
  margin-top: 20px;
  cursor: pointer;
  transition: 1s;
  font-weight: bold;
}
.BoxButton button:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px 2px #fff;
}
@media only screen and (max-width: 430px) and (min-width: 360px){
  .MainAll{
    width: 100%;
    height: 90vh;
  }
  .MainSlide{
    margin-top: 197vh;
    width: 98%;
    height: 44vh;
    margin-top: 0px;
   
  }
  .MainSlide .slideItem{
    width: 90%;
    height: 190px;
  }
  .MainSlide h1{
    width: 77%;
    font-size: 14px;
  }
.BoxButton{
  width: 100%;

}
.BoxButton button{
  width: 70%;
}
}
@media only screen and (max-width: 359px) and (min-width: 320px){
  .MainAll{
    width: 100%;
    height: 105vh;
  }
  .MainSlide{
    margin-top: 197vh;
    width: 98%;
    height: 56vh;
   
  }
  .MainSlide .slideItem{
    width: 90%;
    height: 190px;
  }
  .MainSlide h1{
    width: 77%;
    font-size: 14px;
  }
.BoxButton{
  width: 100%;

}
.BoxButton button{
  width: 70%;
}
}
@media only screen and (max-width: 884px) and (min-width: 768px){
  .MainAll{
    width: 100%;
    height: 70vh;
  }
  .MainSlide{
    margin-top: 120px;
    width: 98%;
    height: 55vh;
    margin-bottom: 100px;
  }
  
  .MainSlide h1{
    width: 77%;
    font-size: 30px;
  }
.BoxButton{
  width: 100%;
  margin-top: 45px;

}
.BoxButton button{
  width: 70%;
}

}